// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


//header のスタイル
.global-container{
    position:relative;
}

.container{
    position:relative;
    width: 100%;
    //heightをwindowいっぱい表示する vh(viwewpoint height)
    height:100vh;
    overflow: hidden;
    z-index:10;

}

.header{
    //margin:0 auto;は指定した要素の親要素に対しての中央寄せ
 
    width:100%;
    height:80px;
    background-color:blue;
    font-weight:bold;
    
    //flex-box
    display:flex;
    justify-content:space-between; //水平方向の揃え
    align-items:center; //垂直方向の揃え

    &__title{
        margin-left:40px;
        & .logo_My{
            color:purple
        }
       
    }

    &__ul{
        display:flex;
        list-style:none;
    }

    &__li{
        color:white;
        margin-right:40px;
        & > a {
            color:white;
            text-decoration: none !important;
            text-align:center;
        }

    }

}

//tweets表示部分
h3{
    margin-bottom:30px;
}

.tweets-container {
    width: 50%;
    margin: 10px auto;

    & .tweet{
        border-top:solid #00acee;
        margin-top:10px;
        padding-top:8px;
    }
    // left-containerとright-containerを紐づける
    & .main-box{
        display:flex;
        justify-content: space-between;
        & .left-container{
            & span{
                padding-right:20px;
            }
        }

    }
}




//Tweet投稿ボタン  
.tweet-button{
        cursor: pointer;
        border-radius:50%;
        height:40px;
        width:40px;
        background-color:red;
        position:fixed;
        right:60px;
        bottom:60px;
        outline:none !important;

    }

//tweet投稿画面
.back-container{
    
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    opacity: 0;
    transition:opacity 1s;

    &.up{
        opacity:1;
        z-index:20;
        background-color:rgba(0, 0, 0, 0.5);
        transition:opacity 1s;
    } 
    
    //投稿画面を後ろに戻すクローズボタン
    & .close__btn{
        position:fixed;
        top:15%;
        left:80%;
        width:50px;
        height:50px;
        background-color:rgba(0, 0, 0, 0.5);
        cursor:pointer;
   
        & > span {
            background-color: white;
            width: 100%;
            height: 5px;
            display: block;
    
            transition: transform 0.7s;

            &:nth-child(1){
                transform:   translateY(2.5px) rotate(135deg);
                // margin-bottom: 18px;
            }
            &:nth-child(2) {
                transform:  translateY(-2.5px)  rotate(-135deg);
            }
        }
    }
    
    //投稿フォーム
    & .post-form{
        
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        width:50%;
        height:50%;
        border:2.0px solid #d3def1;
        background-color: #d3def1;
        z-index:30;
        text-align: center;
    }
& .form-title{
    
    font-size: 32px;
    font-weight: bold;
    margin-top:10px;
    margin-bottom: 50px;
}
  
}


//投稿フォームのサイズ調整
input[type="text"] {
    width: 95%;
    height: 20px;
  }

input[type="submit"] {
    width: 200px;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
  }

textarea{
    width:95%;
    height:60px
}
